<link rel="stylesheet" href="/css/user_profile.css">

<h1><u>User Profile</u></h1>

<div class="container text-start">
    <% if(locals.user && locals.user_profile && user.id == user_profile.id) {%>
        <div class="card mb-3 p-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="<%= locals.user_profile.avatar %>"
                        class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= locals.user_profile.name %>
                        </h5>
                        <p class="card-text">
                            <%= locals.user_profile.email %>
                        </p>
                        <p class="card-text"><small class="text-muted">Updated At: <%= locals.user_profile.updatedAt %></small></p>
    
                        <form action="/users/profile" method="POST" enctype="multipart/form-data">
                            <div class="input-group mb-3">
                                <input type="hidden" name="user_id" value="<%= locals.user_profile.id %>" >
                                <input type="text" class="form-control" placeholder="Put your name to udpate" aria-label="Recipient's name"
                                    aria-describedby="button-addon2" name="user_name" value="<%= locals.user_profile.name %>">
                                <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Update</button>
                            </div>

                            <div class="input-group mb-3">
                                <input type="file" name="avatar" id="user_profile_avatar" placeholder="Update you profile photo"> 
                                <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Update</button>
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>

    <% }else {%>

        <div class="card mb-3 p-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSon7UXXyxvoxfrD0brWchUB7kIU545JP7QtQ&usqp=CAU"
                        class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= user_profile.name %>
                        </h5>
                        <p class="card-text">
                            <%= user_profile.email %>
                        </p>
                        <p class="card-text"><small class="text-muted">Updated At: <%= user_profile.updatedAt %></small></p>
                    </div>
                </div>
            </div>
        </div>
    <% } %>

    
</div>